section.banners
	.container
		.row
			.banner-box
				.banner
					img.pic-col(src="img/icon1.png", alt="icon")
					h3.title Best price 
						span.lil-text this week
				.banner
					img.pic-col(src="img/icon2.png", alt="icon")
					h3.title New smells 
						span.lil-text in the next series
				.banner
					img.pic-col(src="img/icon3.png", alt="icon")
					h3.title Only natural 
						span.lil-text air fresheners