header.header
	.container
		.row
			.control-bar
				a.logo(href="/")
					img.logo-pic(src="img/logo.png", alt="logo")
					p.logo-txt Online Store Theme
				form.search(action="/", method="GET")
					input.field(type="text", placeholder="Search entire store here...")
					input.btn(type="submit", value="")
				ul.user-menu
					li.menu-item
						button.menu-btn My Account
					li.menu-item
						button.menu-btn My Wishlist
					li.menu-item 
						button#js_login.menu-btn Log In
					li.menu-item
						button#js_acc.menu-btn Sign Up
				.cart
					button.cart-btn Cart $0.00
					.cart-added
						h3.title Recently added item(s)
						.added-item
							img.pic-col(src="img/item1.jpg", alt="image")
							.text-col
								.description Faddywax Fragrance Diffuser Set Gardenia
								.sum 1 x $399.00
							button.close-btn
						.added-item
							img.pic-col(src="img/item2.jpg", alt="image")
							.text-col
								.description Faddywax Fragrance Diffuser Set Gardenia
								.sum 1 x $399.00
							button.close-btn
						a.link.link--to-cart(href="#") View shopping cart
						a.link.link--to-check(href="#") Proceed to Checkout