header.header
	.container
		.row
			.control-bar
				a.logo(href="#")
					img.logo-pic(src="img/logo.png", alt="logo")
					p.logo-txt Online Store Theme
				form.search(action="/", method="post")
					input.field(type="text", placeholder="Search entire store here...")
					input.btn(type="submit", value="")
				ul.user-menu
					li.menu-item
						button.menu-btn My Account
					li.menu-item
						button.menu-btn My Wishlist
					li.menu-item 
						button#login.menu-btn Log In
					li.menu-item
						button#acc.menu-btn Sign Up
				.cart
					button.cart-btn Cart $0.00
					.cart-added
						.title Recently added item(s)
						.added-item
							img.pic-col(src="img/icon2.png", alt="image")
							.text-col
								.description Faddywax Fragrance Diffuser Set Gardenia
								.sum 1 x $399.00
							button.close-btn
						.added-item
							img.pic-col(src="img/icon2.png", alt="image")
							.text-col
								.description Faddywax Fragrance Diffuser Set Gardenia
								.sum 1 x $399.00
							button.close-btn
						a.to-cart(href="#") View shopping cart
						a.to-check(href="#") Proceed to Checkout
			ul.main-menu
				li.menu-item
					button.menu-btn.menu-btn--selected home
				li.menu-item
					button.menu-btn solids
				li.menu-item
					button.menu-btn liquids
				li.menu-item
					button.menu-btn spray
				li.menu-item
					button.menu-btn electric
				li.menu-item
					button.menu-btn for cars