header.header
	.container
		.row
			.control-bar
				a.logo(href="#")
					img.logo-pic(src="img/logo.png", alt="logo")
					p.logo-txt Online Store Theme
				form.search(action="/", method="post")
					input.field(type="text", placeholder="Search entire store here...")
					input.btn(type="submit", value="")
				ul.user-menu
					li.menu-item
						button.menu-btn My Account
					li.menu-item
						button.menu-btn My Wishlist
					li.menu-item 
						button#login.menu-btn Log In
					li.menu-item
						button#acc.menu-btn Sign Up
				button.cart Cart $0.00
			ul.main-menu
				li.menu-item
					button.menu-btn.menu-btn--selected home
				li.menu-item
					button.menu-btn solids
				li.menu-item
					button.menu-btn liquids
				li.menu-item
					button.menu-btn spray
				li.menu-item
					button.menu-btn electric
				li.menu-item
					button.menu-btn for cars
			.slider
				.slide
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
						img.image(src="img/img.png", alt="picture")
				.slide
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
						img.image(src="img/img.png", alt="picture")
				.slide
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
						img.image(src="img/img.png", alt="picture")

