section.main-slider
	.container
		.row
			.slider
				.slider-item
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
					img.image(src="img/img.png", alt="picture")
				.slider-item
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
					img.image(src="img/img.png", alt="picture")
				.slider-item
					.text-col
						h1.title 
							mark.marked Breeze Noticeables
						p.description 
							mark.marked The new series of natural air fresheners. 
							br
							mark.marked Febreze Noticeables Meadows &amp; Rain 
							br
							mark.marked Air Freshener Refill.
					img.image(src="img/img.png", alt="picture")

