.main-menu
	.container
		.row
			ul.menu
				li.menu-item
					a.btn.btn--menu.btn--menu--selected(href="#") home
				li.menu-item
					a.btn.btn--menu(href="#") solids
					ul.sub-menu
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
				li.menu-item
					a.btn.btn--menu(href="#") liquids
					ul.sub-menu.sub-menu--inverted
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
				li.menu-item
					a.btn.btn--menu(href="#") spray
					ul.sub-menu
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") For home
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") For Garden
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") For car
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Other spray
				li.menu-item
					a.btn.btn--menu(href="#") electric
					ul.sub-menu
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
				li.menu-item
					a.btn.btn--menu(href="#") for cars
					ul.sub-menu.sub-menu--inverted
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum. 
						li.sub-menu-item 
							a.btn.btn--sub-menu(href="#") Lorem, ipsum.