div#js_overlay.overlay
	.reg-box
		i#js_popup-close.cross
		h2.title Create an account
		form.form(action="/", method="post")
			input.inpt(type="text" placeholder="Login")
			input.inpt(type="password" placeholder="Password")
			input.inpt(type="email" placeholder="Email")
			input.inpt(type="submit", value="Create account")