section.topper
	.container
		.row
			.line
				i.tel-pic
				p.tel-num Call Us +777 (100) 1234
				p.text 
					| Welcome visitor you can 
					a.link-login(href="#") login
					|  or
					a.link-acc(href="#")  create an account.
				.language
					button.language-btn.language-btn--selected en
					button.language-btn fr
					button.language-btn gm
				.currency
					button.currency-btn.currency-btn--selected $
					button.currency-btn €
					button.currency-btn £					