div.topper
	.container
		.row
			.bar
				i.tel-pic
				p.tel-num Call Us +777 (100) 1234
				p.text 
					| Welcome visitor you can 
					a.link-acc(href="#") login
					|  or
					a.link-acc(href="#")  create an account.
				.language
					a.language-btn.language-btn--selected(href="#") en
					a.language-btn(href="#") fr
					a.language-btn(href="#") gm
				.currency
					a(href="#").currency-btn.currency-btn--selected $
					a(href="#").currency-btn €
					a(href="#").currency-btn £					