.header
	padding: 38px 0 0 0 
	margin-bottom: 20px
	.control-bar
		display: flex
		align-items: center
		margin-bottom: 63px
		.logo
			text-decoration: none
			margin-right: 121px
			.logo-pic
				transform: translate(-8px, 2px)
				//text-decoration: none
			.logo-txt
				font-family: $Bitter-I
				font-size: 11px
				color: $headerTxt
				line-height: 0.8
				letter-spacing: 0.3px
				//text-decoration: none
				padding: 0 0 0 11px
		.search
			padding: 0 10px
			position: relative
			border: 1px solid $gray5
			box-sizing: border-box
			line-height: 0
			margin-right: auto
			.field
				font-family: $SegoeUI
				font-size: 12
				color: $topperTxt2
				padding: 0 25px 0 0 
				line-height: 33px
				//display: inline-block
				width: 207px
				border: none
				outline: none
				&::placeholder
					color: $topperTxt2
					opacity: 1
			.btn
				position: absolute
				right: 10px
				top: 50%
				transform: translate(0, -50%)
				border: none
				outline: none
				height: 14px
				width: 14px
				background-color: red
				cursor: pointer
		.user-menu
			margin-right: 14px
			line-height: 0
			.menu-item
				display: inline-block
				position: relative
				.menu-btn
					font-family: $SegoeUI
					font-size: 12px
					color: $topperTxt2
					letter-spacing: 0.3px
					border: none
					outline: none
					background-color: transparent
					cursor: pointer
					padding: 0 14px
					//margin-right: 1px
					transition: color .5s	
					&:hover
						color: $pseudoBlue
				&:last-of-type
					&::after
						display: none
				&::after
					content: ''
					position: absolute
					right: 0
					top: 0
					bottom: 0
					width: 1px
					background-color: $gray6
		.cart
			font-family: $SegoeUI
			font-size: 11px
			color: $topperTxt
			letter-spacing: 0.3px
			line-height: 35px
			padding: 0 10px 0 35px
			border: none
			outline: none
			background-color: $gray7
			cursor: pointer
			position: relative
			//padding: 0 14px
			&::after
				content: ''
				position: absolute
				left: 10px
				width: 16px
				height: 13px
				top: 50%
				transform: translate(0, -50%)
				background-color: red
	.main-menu
		line-height: 0
		background-color: $gray9
		position: relative
		&::after
			content: ''
			position: absolute
			top: 0
			left: 50%
			width: 100vw
			transform: translate(-50%, 0)
			height: 1px
			background-color: $gray6
		.menu-item
			display: inline-block
			.menu-btn
				display: inline-block
				font-family: $Bitter-R
				font-size: 13px
				line-height: 50px
				letter-spacing: 1.4px
				text-transform: uppercase
				padding: 0 20px
				color: $topperTxt
				background-color: transparent
				outline: none
				border: none
				transition: color .5s, background .5s
				&:hover
					color: white
					background-color: $pseudoBlue2
				&--selected
					color: white
					background-color: $pseudoBlue2	