.topper
	padding-top: 9px
	background: repeating-linear-gradient(to bottom, $pseudoBlue, $pseudoBlue 3px, $pseudoBlue2 0, $pseudoBlue2 6px, $pseudoBlue3 0, $pseudoBlue3 9px,$topperBG 0, $topperBG 100%)
	.bar
		display: flex
		align-items: center
		.tel-pic
			display: inline-block
			width: 16px
			height: 12px
			background: url('../img/icon-phone.png') no-repeat center
			margin-right: 8px
			+r(575)
				display: none
		.tel-num
			font-family: $SegoeUI
			color: $topperTxt
			font-size: 11px
			line-height: 0.8
			letter-spacing: 0.3px
			display: inline-block
			margin-right: 107px
			text-decoration: none
			+r(991)
				margin-right: auto
			+r(575)
				display: none
		.text
			font-family: $Bitter-R
			font-size: 12px
			color: $topperTxt2
			line-height: 0.8
			letter-spacing: 0.3px
			margin-right: auto
			+r(991)
				display: none
			.link-acc
				color: $topperTxt3
				text-decoration: none
				transition: color .5s
				&:hover
					color: black
		.language
			margin-right: 24px
			+r(575)
				margin-right: auto
		.currency
			+r(575)
				margin-right: 0
		.switch-btn
			font-family: $SegoeUI-B
			color: $topperTxt2
			text-transform: uppercase
			font-size: 11px
			letter-spacing: 1.1px
			line-height: 36px
			border: none
			outline: none
			margin-right: 1px
			padding: 0 10px
			background-color: $btnBG
			transition: color .5s, background .5s
			text-decoration: none
			display: inline-block
			&:last-of-type
				margin-right: 0
			&:not(.switch-btn--selected)
				&:hover
					background-color: $blue4
			&--selected
				color: white
				background-color: $pseudoBlue